body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --verde1:#9ce892;
  --verde2:#2d7724;
  --verde3:#78db6b;

  --azul1:#b2b9f7;
  --azul2:#121287;
  --azul3:#909bed;

  --marrom1:#dde669;;
  --marrom2:#717f21;
  --marrom3:#c6ce52;

  --amarelo1:#e298bc;
  --amarelo2:#8e3761;
  --amarelo3:#d17ba4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
